/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.side-nav-top {
  border: 1px solid rgba(128, 128, 128, 0.15);
  border-right:none;
  border-left:none;
  padding: 10px 5px 5px 10px;
}

main, nav {
  padding-left:300px;
}

.side-nav-top .btn-floating.btn-large i {
  line-height:44px;
  font-size: 1.5rem;
  color: #fff;
  margin-left:-5px
}

.side-nav-top .btn-floating.btn-large  {
  width:44px;
  height:44px;
  margin-left:80%;
}

#logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
}

.nav-wrapper .carousel { 
  height: 80px;
}

.carousel.carousel-slider .carousel-item {
    min-height: 80px;
}

.indicators {
  display: none;
}

nav {
    height:80px;
}

.material-icons.arrow {
    font-size: 48px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.material-icons.arrow.left {
    left: 180px;
}

.material-icons.arrow.right {
    right: 180px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
    not supported by any browser */
}

