/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.side-nav-top {
  border: 1px solid rgba(128, 128, 128, 0.15);
  border-right:none;
  border-left:none;
  padding: 10px 5px 5px 10px;
}

main, nav {
  padding-left:300px;
}

.side-nav-top .btn-floating.btn-large i {
  line-height:44px;
  font-size: 1.5rem;
  color: #fff;
  margin-left:-5px
}

.side-nav-top .btn-floating.btn-large  {
  width:44px;
  height:44px;
  margin-left:80%;
}

#logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
}

#logo2 img {
    margin-bottom: -10px;
}

.nav-wrapper .carousel { 
  height: 80px;
}

.carousel.carousel-slider .carousel-item {
    min-height: 80px;
}

.indicators {
  display: none;
}

nav {
    height:80px;
}

.material-icons.arrow {
    font-size: 48px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.material-icons.arrow.left {
    left: 13%;
}

.material-icons.arrow.right {
    right: 13%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
    not supported by any browser */
}

.side-nav.fixed a span {
    letter-spacing: .5px;
}

.edit {
  z-index:1000;
  position:absolute;
  right:0px;
  cursor:pointer;
}

.edit:hover {
  color:green!important;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
  white-space: nowrap;
}


.login-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.login-middle {
    display: table-cell;
    vertical-align: middle;
}

.login-inner {
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  width:260px;
  text-align:center;
  padding-top:10px;
}

#firebaseui-auth-container {
  margin-top:-30px;
}

.modal .modal-footer {
    height:57px;
}

ul li a span.entry-grey {
    color:grey;
    opacity:.6;
}

.networth-header label, .networth-header span {
  font-size:1rem;
}

.networth-header .networth label, .networth-header .networth span {
  font-size:1.1rem;
}
/*
.networth-header .networth {
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
*/

@keyframes transition {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.transition {
  animation-name: transition;
  animation-duration: 1s;
  animation-fill-mode: both;
}
